
/* landing page components */

.landingPage {
    padding: 1em;
    min-height: 100vh;
    min-width: 100%;
    background: #111111;
    color: #fff;
    overflow-x: hidden;
  
    .logo{
      height: 2.5em;
    }
  
    .flexparent {
      min-height: 80vh;
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  
    hr {
      border-top: 1px solid #444;
    }
  
    .breaker {
      padding-top: 10em;
    }
    .screenWrapper{
    background-image: url('../../assets/img/tv.png');
    background-repeat: no-repeat;
    background-size: contain;
    display:inline-block;
      
        padding-top:5%;
        padding-right:5%;
        padding-left:5%;
        padding-bottom: 20%;
  
        .carousel{
            height:170px;
            width:320px;
           
            img {
                max-height:170px;
                object-fit: cover;
            }
        }
    }
  }
  .loadingOverLay {
    background: #000 !important;
    z-index:1030 !important;
    opacity: 0.9;
    position: fixed;
    left: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
  }