.content {
    background: #222;
    color: #fff;
    min-height: 100vh;
    
    .descriptionSection{
        padding: 2em;
    }
    .coverSection{
        padding: 2em;
    }
    h2 {

    padding-left: 1em;
        font-weight: 300;
    }
    .card {
        img{
            width:80%;
        }
    }
    .equal {
        
        display:flex;
        display: -webkit-flex;
        flex-wrap:wrap;
    }
    .movielabel{
        margin-top: 10px;
        padding-left:10%;
        padding-right:10%;
        display:flex;
        justify-content: space-between;;
    }
}
