<div class="content">
    <div class="row">
        <div class="col-md-12">
            <h2 *ngIf="this.activeMode != 'find'">{{this.activeMode | titlecase}}</h2>
            <h3>
                <mat-form-field *ngIf="this.activeMode == 'find'" [style.width]="'90%'" [style.margin]="'0px 5% 0px 5%'"
                    appearance="outline">
                    <input matInput [(ngModel)]="this.searchQuery"  (keydown.enter)="navToSearch()"  *ngIf="this.activeMode == 'find'"
                        [style.color]="'#fff'">
                    <button mat-flat-button color="accent" (click)="navToSearch()" matSuffix><span
                            class="glyphicon glyphicon-search" aria-hidden="true"></span> <span
                            class="hidden-xs">Search</span></button>
                </mat-form-field>
            </h3>
        </div>
    </div>
    <div class="row" *ngIf="!this.dataLoaded" [style.padding]="'2em;'">
        <mat-spinner [diameter]="24" style="margin:0 auto;" color="accent"></mat-spinner>
    </div>


    <ng-container *ngIf="this.dataLoaded">
        <div class="row equal">
            <div class="col-sm-6 col-md-3" *ngFor="let movie of displayMovies " [style.padding]="'24px'">
                <a routerLink="{{'/movie/'+movie.id}}">
                    <div class="card align-center">
                        <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}">
                    </div>
                </a>
                <div class="movielabel dim-text">
                        <a routerLink="{{'/movie/'+movie.id}}">
                    {{movie.title | titlecase}} ({{movie.release_date.split('-')[0]}})
                    </a>
                    <button mat-icon-button (click)="toggleFavorite(movie)" color="warn"><span  [style.font-size]="'16pt'"
                            class="glyphicon {{this.favorites.includes(movie.id)? 'glyphicon-heart' : 'glyphicon-heart-empty'}}"
                            aria-hidden="true"></span></button>
                </div>
         
            </div>
        </div>
        <mat-paginator [style.background]="'transparent'" [style.color]="'#ffbb00'" *ngIf="this.activeMode.toLowerCase() == 'all'" [length]="this.resultsCount" [pageSize]="this.pageSize" [pageSizeOptions]="[this.pageSize]"
        (page)="OnPageChange($event)">
    </mat-paginator>
    </ng-container>

    <app-footer *ngIf="this.dataLoaded"></app-footer>