<footer>
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <h4>More Information</h4>
            <a routerLink="github">Project Source Code</a>
        </div>
        <div class="hidden-xs col-sm-4">
            <br>
            <a routerLink="github">Dev's Website</a><br>
            <a routerLink="github">Andela Website</a>
        </div>
        <div class="col-xs-6 col-sm-4 align-right">
            <br>
            <img src="../../assets/img/tmdb.png" [style.height]="'40px'">
            <p class="align-right">All the movie data gathered using this library is obtained from the TMDB</p>
        </div>
    </div>
</footer>