<footer>
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <h4>More Information</h4>
            <a href="https://github.com/nadchif/liteflix-alc">Project Source Code</a><br>
            <a href="https://andela.com">About Andela</a>
        </div>
        <div class="hidden-xs col-sm-4">
            <h4>Developer</h4>
            <a href="https://github.com/nadchif">Github</a><br>
            <a href="https://stackoverflow.com/users/11854340/eisenhem">Stack Overflow</a><br>
            <a href="https://twitter.com/dchif">Twitter</a>
        </div>
        <div class="col-xs-6 col-sm-4 align-right">
            <img src="../../assets/img/tmdb.png" [style.height]="'40px'">
            <p class="align-right"><a href="https://themoviedb.org">
                All the movie data gathered using this library is obtained from the TMDB
            </a></p>
        </div>
    </div>
</footer>