<mat-nav-list>
    <a mat-list-item routerLink='/home'> <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home</a>
    <a mat-list-item routerLink='/browse/all'> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Browse</a>
    <a mat-list-item routerLink='/browse/recommended'> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;Recommended</a>
    <a mat-list-item routerLink='/browse/favorites'>  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp;<span  matBadge="{{this.userProfile.getUserFavorites().length}}">Favorites &nbsp;&nbsp;</span></a>
    <a mat-list-item routerLink='/find/newsearch'>  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp; Search</a>
</mat-nav-list>
  
